{% extends "../components/base.html" %}

{% block title %}Change your password{% endblock title %}

{% block content %}
<div class="w-full p-3 flex  flex-col justify-center items-center mt-24">
  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset flex flex-col gap-4 text-white mt-6">
      {% csrf_token %}
      <style>
        p {color: white}
        .password_reset input, .password_reset button {
          background: transparent;
          color: white;
          border: solid .2rem white;
          padding: 1rem 2rem;
          border-radius: .75rem;
        }
    
        .password_reset label {
          display: block;
        }
    
        .password_reset button {
          background: #db2777;
          border: none;
          font-size: 1.3rem
        }
      </style>
      {{ form.as_p }}
      <button type="submit" value="Reset My Password">Reset My Password</button>
  </form>
</div>
{% endblock content %}