{% extends "../components/base.html" %}

{% block title %}Change your password{% endblock title %}

{% block content %}
<div class="w-full p-3 flex  flex-col justify-center items-center mt-24">
  <form method="POST" action="{% url 'account_change_password' %}" class="password_change flex flex-col gap-4 text-white mt-6">
    {% csrf_token %}
    <style>
      p {color: white}
      .password_change input, .password_change button {
        background: transparent;
        color: white;
        border: solid .2rem white;
        padding: 1rem 2rem;
        border-radius: .75rem;
      }
  
      .password_change label {
        display: block;
      }
  
      .password_change button {
        background: #db2777;
        border: none;
        font-size: 1.5rem
      }
    </style>
    {{ form.as_p }}
    <button type="submit" name="action">Change Password</button>
    <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
  </form>
</div>
{% endblock content %}